.calc{
    display:flex;
    justify-content: center;
    align-items: center;
}

.mainCalc{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    background-color: lightblue;
    color: black;
    width:30%;
    height: 30em;
    position:static;
    flex-shrink: 1;
    padding: 0.7em;
    border: 2px black solid; 
    border-radius: 1%; 
}

#result{
    grid-column:span 4;
    text-align: end;
    align-items:end;
    background-color: blue;
}

#zero{
    border-radius: 0%;
    grid-column: 1 / span 2;
    border-radius: 50px;
    width: 90%;
}

.grid-items{
    padding: 0.5px;
    border: solid 1px black; 
    border-radius: 50%;
    height: 70px;
    width: 70%;
    text-align:center;
    font-size: 200%;
    font-weight: normal;
    font-family: sans-serif;
}
